<div class="card mt-5 mx-auto p-4" style="width: 350px">
  <h2 class="font-weight-bold">Your Task</h2>

  <div class="font-weight-bold">Name:</div>
  <div><%= @todo.name %></div>
  <div class="mt-4 font-weight-bold">Description:</div>
  <p> <%= @todo.description %></p>

  <div class="mx-auto">
    <%= link_to 'Edit ToDo', edit_todo_path(@todo), class: "m-2 btn btn-primary" %>
    <%= link_to 'Back to list', todos_path, class: "m-2 btn btn-primary" %>
  </div>
</div>
